# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science tools
* Evaluation of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-Learn
5. Seaborn

| Data Science Tools|
|---|
|Apache Spark|
|Tableu|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [7]:
print(200/60,"hours")

3.3333333333333335 hours

## Author

Amirbek Radjabov